h1, h2, h3 {
	font-family: Georgia, serif
	background-color: plum;
}

section#s {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	height: 70%;
	background-color: #dddddd;
	padding: 1%;
	border: 2px solid black;		
}



p {
	font-family: "Palatino Linotype", Palatina, serif
}

ul {
	list-style: none;	
}


p#abc123 {
	font-size: 24pt;
	color: indigo;
}

p#abc456 {
	font-size: 18pt;
	color: mediumaquamarine;
}

p#abc789 {
	font-size: 12pt;
	color: gold;
}

.done {
	text-decoration: line-through;
}

.undone {
	text-decoration: bold;
}


