h1, h2, h3 {
	font-family: Georgia, serif
	background-color: plum;
}

p {
	font-family: "Palatino Linotype", Palatina, serif
}


p#abc123 {
	font-size: 24pt;
	color: indigo;
}

p#abc456 {
	font-size: 18pt;
	color: mediumaquamarine;
}

p#abc789 {
	font-size: 12pt;
	color: gold;
}

.done {
	text-decoration: line-through;
}


