html, body, #map-canvas {
	height:95%;
	margin-left:20px;
	margin-right:20px;
	padding:0;
	background-color: #45bb99;
	text-align: center;
}
img {
	display:inline;
	padding:5px;
}

h1 {
	font-family: 'Orbitron' , sans-serif;
	font-size: 40pt;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
}

h4 {
	font-family: 'Lobster Two' , cursive;
	font-size: 14pt;
	margin: 0px; 
	padding-top: 0px;
}
h3 {
	display:inline;
}

p {
	font-style:italic;
}

p#box {
	text-align: center;
	background-color: 	
}

img {
	
}

section {
	position:fixed;
	top:0px;
	left0px;
	height:200px;
	width:100%;
	background-color:#b2317f;
	border-bottom: 1px solid;
}

#map-canvas {
	border: 4px solid black;
	border-radius: 20px;
}

.fb_iframe_widget {
	margin: 10px;
}
#status {
	font-family: 'Syncopate' , sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

